* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin-bottom: 0 !important;
}

html,
body {
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.section {
    padding: 0 !important;
    margin: 60px auto !important;
}

.separation::before {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    border-top: 5px solid #2488C2;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* NAVBAR */

.navbar {
    background: #2488C2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FB4E4, #2488C2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FB4E4, #2488C2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
    padding-top: 0 !important;
    --animate-delay: 5.9s;
}

nav ul li.active {
    background-color: transparent !important;
}

.nav-link {
    color: #ffffff !important;
    margin-right: 20px;
}

.home-link a:before {
    content: "\f102";
    font-family: dashicons;
    padding-right: 5px;
    vertical-align: -1px;
}

.phone-link a:before {
    content: "\f525";
    font-family: dashicons;
    vertical-align: -1px;
    padding-right: 5px;
}

.instagram-menu,
.facebook-menu {
    padding-top: 5px;
}

.dropdown-menu {
    background: #2488C2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FB4E4, #2488C2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FB4E4, #2488C2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
}

.dropdown-item:hover {
    background-color: #5FB4E4 !important;
}

/* Juùmbotron */

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../images/jumbotron2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    height: inherit;
    color: #fff;
    height: 100%;
}

.jumbotron-box {
    top: 70%;

    display: flex;
    align-items: flex-start;
    position: absolute;

}

.jumbotron-brand {
    display: block;
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    line-height: 20px;
}

.jumbotron-brand::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 15px;
    height: 2px;
    background-color: #2488C2;
}


.jumbotron-line {
    display: block;
    left: 0;
    top: 0;
    height: 100px;
    width: 5px;
    background-color: #2488C2;
}

.jumbotron-content {
    margin-left: 20px;
    margin-top: 10px;

}

.jumbotron-content span {
    font-size: 26px;
}

/* Therapies */


.card-body {
    padding: 10px !important;
    margin: 40px 30px;
    color: #ffffff;
}

.card:first-of-type {
    background: #80C7EF !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #389CD6, #80C7EF) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #389CD6, #80C7EF) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 15px -5px rgba(0, 0, 0, 0.75) !important;
}

.card:nth-child(2) {
    background: #5FB4E4 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2488C2, #5FB4E4) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2488C2, #5FB4E4) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 15px -5px rgba(0, 0, 0, 0.75) !important;
}



.card p {
    color: #ffffff;
    font-size: 1, 3em;
}

.card .embed-responsive {
    height: 80%;
    margin-bottom: 40px;
}

.therapie-texte p {
    color: #ffffff;
    font-size: 1.2em;
    margin: 40px 10px;

}

.therapie-link {
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    text-align: center;
}

.therapie-link h4 {
    border: 3px solid #fff;
    width: 200px !important;
    font-size: 1em;
    padding: 12px 16px 10px;
    color: #ffffff;

}


.therapie-link h4:hover {

    border: 3px solid #e1e1e1;
    color: #e1e1e1;
}

.card-title {
    text-align: center;
}

.card-title h2,
.card-title span {
    font-size: 1.2em !important;
    line-height: 1.1em;
    font-weight: lighter !important;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;

}

.card-title h5 {
    font-size: 18px !important;
    line-height: 1.1em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;

}

/* Aout Me */

.bio-text {
    padding: 0 80px !important;
}

.bio-text h3 {
    margin-top: 40px !important;
    font-size: 1em !important;
    font-weight: bold;
    color: #23689E;
}

.bio-title {

    padding-left: 0 !important;
}


.bio-text li {
    list-style: square !important;
    margin-bottom: 7px;
}

.bio-text ul {
    margin-left: 30px;
}


.bio-text h2 {
    font-size: 3em;
    font-weight: bold;

}

.bio-text a {
    color: #000000 !important;
    text-decoration: none;

}

.aboutme-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.aboutme-pic {
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 50px #999999;
    height: 90%;
    width: 90%;
}

/* FAQ */

.faq .title {
    text-align: center !important;
    font-size: 2.5em !important;
    text-transform: uppercase;

}

.accordion__item {
    border-bottom: 1px solid #dce7eb;
}

.accordion__title {
    padding: 15px 15px 15px 40px;
    display: block;
    position: relative;
    font-weight: 400;
}

.accordion__title:before {
    font-family: FontAwesome;
    content: "\f055";
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 12px;
    color: #389CD6;
}

.accordion__title h5 {
    border-bottom: 1px solid #fefffa;
    display: inline-block;
}

.accordion__title:hover,
.accordion__title:focus {
    cursor: pointer;
    outline: none;
}

.accordion__title:focus h5 {
    border-bottom-color: #a8bdc4;
    display: inline-block;
}

.accordion {
    background-color: #fefffa;
    margin: 50px auto;
    border-top: 6px solid #2488C2;
    line-height: 1.6;
    box-shadow: 5px 5px 10px 0px #a4bac1;
}

.is-expanded {
    content: "\f056";
}

.is-expanded .accordion__title:before {
    content: "\f056";
}

.accordion__content-inner {
    padding: 0 40px 5px 40px;
}

.accordion__content {
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
}

/* Form */

.card h5 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 30px;
}


.wpcf7 label {
    font-size: 1em;
    color: #ffffff;
    width: 500px;
}


.wpcf7 select {
    font-size: 0.8em;
    color: #ffffff;
    background-color: #2488C2;
    margin-top: 15px;
}


.wpcf7-list-item-label {
    font-size: 0.7em !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #000000 !important;
    border-bottom: 2px solid #000000 !important;
}

.wpcf7-submit {
    color: #ffffff !important;
    background-color: #2488C2 !important;
}

.wpcf7-submit:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* Footer */

.footer-distributed {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin-top: 40px;
}



.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

/* Footer left */

.footer-distributed .footer-left {
    background: #2488C2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FB4E4, #2488C2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FB4E4, #2488C2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.footer-distributed .footer-left img {
    width: 50px;
    margin: auto;

}

.footer-distributed .footer-center {
    background: #389CD6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #80C7EF, #389CD6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #80C7EF, #389CD6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);

}

.footer-distributed .footer-right {
    background: #5FB4E4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2488C2, #5FB4E4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2488C2, #5FB4E4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

/* The company logo */

.footer-distributed h5 {
    color: #ffffff;
    font-size: 26px;
    margin: 0;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}


.footer-distributed .footer-company-name {
    margin: 0;
}

/* Footer Center */


.footer-distributed .footer-center p {
    margin: 0;
}

.contact-footer-container {
    color: #ffffff !important;
    display: flex;
}

.contact-footer-container i {

    margin-right: 15px;
    padding-top: 3px;
}

.contact-footer-container a {
    color: #ffffff !important;
}

/* Footer Right */

.footer-distributed .footer-company-about {
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: auto;
    bottom: 0;
}


.footer-distributed .footer-icons a:hover {
    color: #23689E !important;
}

.footer-distributed .footer-icons {
    margin: auto;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-top: 10px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin: auto;
}

.sub-footer {
    color: #ffffff !important;
    background-color: #000000;
}

.sub-footer p,
a {
    color: #ffffff !important;

}

.sub-footer a {
    color: #80C7EF !important;

}

/*  Contact Page */

.contact {
    margin-top: 60px !important;
}

.contact-map {
    padding: 0 !important;
    position: absolute;
    margin-bottom: 180px;
}

.contact-map iframe {
    filter: sepia(80%) hue-rotate(190deg) saturate(500%);
}

.contact-adress-container {
    background: #389CD6;
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);
    width: 25%;
    height: 300px;
    position: absolute;
    top: 90%;
    left: 38%;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.contact-adress-text {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
}

.contact-items-container>div {
    height: 600px;
}

.contact-tel-container:first-of-type {
    background: #5FB4E4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2488C2, #5FB4E4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2488C2, #5FB4E4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 15px -5px rgba(0, 0, 0, 0.75);
}

.contact-form-container:nth-child(4) {
    background: #389CD6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #80C7EF, #389CD6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #80C7EF, #389CD6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.contact-tel-container {
    display: flex;
    justify-content: center;
}

.contact-tel-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: #389CD6;
    border: 1px solid #389CD6;
    padding: 40px;
    width: 50%;
    margin: auto;
}

.contact-tel-container i {
    font-size: 4em;
}

.contact-tel-container p {
    font-size: 1.4em;
    text-transform: uppercase;
}

.contact-form-container {
    text-align: center;
    color: #000000;
}

.contact-form-container h5 {
    margin-top: 60px;
    font-size: 2em;
    text-transform: uppercase;
    color: #389CD6;
}

.contact-form-container .wpcf7 {
    margin-top: 40px;
}

.contact-form-container .wpcf7 label {
    color: #389CD6;
}

.contact-form-container .wpcf7 select {
    background-color: #ffffff;
    color: #389CD6;
}

/* Therapy Single Page */

.single-content-container {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}

.details {
    margin-bottom: 40px;
    padding: 40px !important;
}

.details span {
    font-size: 1.5em;
}

.details h3 {
    font-size: 2.2em;
    color: #22689e;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 40px;

}

.detail-duree {
    margin-right: 40px;
    color: #666666;
    border-top-width: 6px;
    border-top: 1px dotted #a7a6a6;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}

.detail-tarif {
    margin-right: 40px;
    color: #666666;
    border-top-width: 2em;
    border-top: 1px dotted #666666;
    border-bottom: 1px dotted #666666;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}

.detail-duree:hover {
    cursor: pointer;
    background-color: rgb(255, 250, 250);
}

.detail-tarif:hover {
    cursor: pointer;
    background-color: rgb(255, 250, 250);
}

.detail-tarif h4 {
    padding-right: 60px;
    text-transform: uppercase;
    color: #666666;
}

.detail-duree h4 {
    padding-right: 60px;
    text-transform: uppercase;
    color: #666666;
}

.service-contact-container {
    background: #389CD6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #80C7EF, #389CD6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #80C7EF, #389CD6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

.single-title {
    color: #23689E;
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
}

.single-text {
    color: #22689e;
    font-size: 1.2em;
}

.single-text>p>a {
    color: #22689e !important;

}

.single-text ul {
    list-style: disc outside;
}

.danger::before {
    content: "\2794";
    /* FontAwesome Unicode */
    color: red;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 0.1em;
    font-size: 20px;
    animation: blinker 2s linear infinite;
}

.check::before {
    content: "\1F5F8";
    /* FontAwesome Unicode */
    color: rgb(78, 214, 78);
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 0.1em;
    font-size: 20px;

}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.single-content-container img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.75);
    margin-bottom: 60px;
    width: 180px;
    height: 180px;

}

/* 404 Page */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.error404-container {
    background-color: #007aff;
    color: #fff;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.error404-button {
    font-weight: 300;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border: 1px solid #efefef;
    padding: .5em;
    border-radius: 3px;
    float: left;
    margin: 6em 0 0 -155px;
    left: 50%;
    position: relative;
    transition: all .3s linear;
    background-color: #007aff;
}

.error404-button:hover {
    background-color: #007aff;
    color: #fff;
}

.error404-container p {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.error404-container span {
    text-align: center;
    font-size: 15em;
    font-weight: 100;
    text-shadow: #0062cc 1px 1px, #0062cc 2px 2px, #0062cc 3px 3px, #0062cd 4px 4px, #0062cd 5px 5px, #0062cd 6px 6px, #0062cd 7px 7px, #0062ce 8px 8px, #0063ce 9px 9px, #0063ce 10px 10px, #0063ce 11px 11px, #0063cf 12px 12px, #0063cf 13px 13px, #0063cf 14px 14px, #0063cf 15px 15px, #0063d0 16px 16px, #0064d0 17px 17px, #0064d0 18px 18px, #0064d0 19px 19px, #0064d1 20px 20px, #0064d1 21px 21px, #0064d1 22px 22px, #0064d1 23px 23px, #0064d2 24px 24px, #0065d2 25px 25px, #0065d2 26px 26px, #0065d2 27px 27px, #0065d3 28px 28px, #0065d3 29px 29px, #0065d3 30px 30px, #0065d3 31px 31px, #0065d4 32px 32px, #0065d4 33px 33px, #0066d4 34px 34px, #0066d4 35px 35px, #0066d5 36px 36px, #0066d5 37px 37px, #0066d5 38px 38px, #0066d5 39px 39px, #0066d6 40px 40px, #0066d6 41px 41px, #0067d6 42px 42px, #0067d6 43px 43px, #0067d7 44px 44px, #0067d7 45px 45px, #0067d7 46px 46px, #0067d7 47px 47px, #0067d8 48px 48px, #0067d8 49px 49px, #0068d8 50px 50px, #0068d9 51px 51px, #0068d9 52px 52px, #0068d9 53px 53px, #0068d9 54px 54px, #0068da 55px 55px, #0068da 56px 56px, #0068da 57px 57px, #0068da 58px 58px, #0069db 59px 59px, #0069db 60px 60px, #0069db 61px 61px, #0069db 62px 62px, #0069dc 63px 63px, #0069dc 64px 64px, #0069dc 65px 65px, #0069dc 66px 66px, #006add 67px 67px, #006add 68px 68px, #006add 69px 69px, #006add 70px 70px, #006ade 71px 71px, #006ade 72px 72px, #006ade 73px 73px, #006ade 74px 74px, #006bdf 75px 75px, #006bdf 76px 76px, #006bdf 77px 77px, #006bdf 78px 78px, #006be0 79px 79px, #006be0 80px 80px, #006be0 81px 81px, #006be0 82px 82px, #006be1 83px 83px, #006ce1 84px 84px, #006ce1 85px 85px, #006ce1 86px 86px, #006ce2 87px 87px, #006ce2 88px 88px, #006ce2 89px 89px, #006ce2 90px 90px, #006ce3 91px 91px, #006de3 92px 92px, #006de3 93px 93px, #006de3 94px 94px, #006de4 95px 95px, #006de4 96px 96px, #006de4 97px 97px, #006de4 98px 98px, #006de5 99px 99px, #006ee5 100px 100px, #006ee5 101px 101px, #006ee6 102px 102px, #006ee6 103px 103px, #006ee6 104px 104px, #006ee6 105px 105px, #006ee7 106px 106px, #006ee7 107px 107px, #006ee7 108px 108px, #006fe7 109px 109px, #006fe8 110px 110px, #006fe8 111px 111px, #006fe8 112px 112px, #006fe8 113px 113px, #006fe9 114px 114px, #006fe9 115px 115px, #006fe9 116px 116px, #0070e9 117px 117px, #0070ea 118px 118px, #0070ea 119px 119px, #0070ea 120px 120px, #0070ea 121px 121px, #0070eb 122px 122px, #0070eb 123px 123px, #0070eb 124px 124px, #0071eb 125px 125px, #0071ec 126px 126px, #0071ec 127px 127px, #0071ec 128px 128px, #0071ec 129px 129px, #0071ed 130px 130px, #0071ed 131px 131px, #0071ed 132px 132px, #0071ed 133px 133px, #0072ee 134px 134px, #0072ee 135px 135px, #0072ee 136px 136px, #0072ee 137px 137px, #0072ef 138px 138px, #0072ef 139px 139px, #0072ef 140px 140px, #0072ef 141px 141px, #0073f0 142px 142px, #0073f0 143px 143px, #0073f0 144px 144px, #0073f0 145px 145px, #0073f1 146px 146px, #0073f1 147px 147px, #0073f1 148px 148px, #0073f1 149px 149px, #0074f2 150px 150px, #0074f2 151px 151px, #0074f2 152px 152px, #0074f3 153px 153px, #0074f3 154px 154px, #0074f3 155px 155px, #0074f3 156px 156px, #0074f4 157px 157px, #0074f4 158px 158px, #0075f4 159px 159px, #0075f4 160px 160px, #0075f5 161px 161px, #0075f5 162px 162px, #0075f5 163px 163px, #0075f5 164px 164px, #0075f6 165px 165px, #0075f6 166px 166px, #0076f6 167px 167px, #0076f6 168px 168px, #0076f7 169px 169px, #0076f7 170px 170px, #0076f7 171px 171px, #0076f7 172px 172px, #0076f8 173px 173px, #0076f8 174px 174px, #0077f8 175px 175px, #0077f8 176px 176px, #0077f9 177px 177px, #0077f9 178px 178px, #0077f9 179px 179px, #0077f9 180px 180px, #0077fa 181px 181px, #0077fa 182px 182px, #0077fa 183px 183px, #0078fa 184px 184px, #0078fb 185px 185px, #0078fb 186px 186px, #0078fb 187px 187px, #0078fb 188px 188px, #0078fc 189px 189px, #0078fc 190px 190px, #0078fc 191px 191px, #0079fc 192px 192px, #0079fd 193px 193px, #0079fd 194px 194px, #0079fd 195px 195px, #0079fd 196px 196px, #0079fe 197px 197px, #0079fe 198px 198px, #0079fe 199px 199px, #007aff 200px 200px;
}

/* Media Queries */


@media screen and (max-width:1096px) {

    .aboutme-pic {

        height: 90%;
        width: 90%;
    }

    .card {
        width: 30rem !important;
        

    }

    .wpcf7 label {

        width: 250px;
    }

    .card-title h2,
    .card-title span {
        font-size: 1.2em !important;
        font-weight: bold !important;
    }

}

@media screen and (max-width:640px) {

    /* Navbar Menu  */
    .navbar-nav {
        background: #2488C2;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5FB4E4, #2488C2);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5FB4E4, #2488C2);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        margin-top: 20px;
    }

    .nav-link {
        margin-left: 20px;
        font-size: 1.2em;
    }

    /* Jumbotron  */

    .jumbotronHeader {
        top: 10%;
        left: 0%;
    }

    .jumbotronContainerBefore {
        display: none;
    }


    /* Card container */

    .jumbotronBody p {
        font-size: 0.8em;
    }

    .card {
        width: 100% !important;
        height: 100% !important;
        margin-bottom: 40px;
    }

    /* Card title Therapy */

    .card-title h2,
    .card-title span {
        font-size: 1em !important;
        font-weight: bold !important;
    }

    /* Card Map */
    .card>div>iframe {
        width: 300px !important;

    }

    /* Media Queries */

    .aboutme-pic {
        display: block;
        margin: 0 auto;
        height: 70%;
        width: 70%;
    }

    .aboutme-pic-container {
        margin-top: 40px;
        padding-top: 0;
    }

    .bio-text {
        padding: 15px !important;
    }

    .bio-text h2 {
        font-size: 2em !important;
    }


    .bio-text span {
        font-size: 2em;
        font-weight: bold;
    }

    .map-container iframe {
        width: 80%;
        height: 260px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .contact-adress-container {
        position: static !important;
        width: 100%;
    }

    .contact-tel-container:first-of-type {
        display: none;
    }

    .contact-tel-items-container {
        width: 80% !important;
    }

    .contact-form-container:nth-child(4) {
        display: none;
    }

    .contact-map {
        margin-bottom: 0;
    }

    .contact-form-container .wpcf7 {
        margin-top: 0 !important;
    }

    .contact-items-container>div {
        height: 90% !important;
    }

    .single-text iframe {
        width: 80%;
    }

    .details {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details h3 {
        font-size: 1.5em !important;
        width: 100%;
        text-align: center;
    }



    .detail-duree h4,
    .detail-tarif h4 {
        font-size: 1em;
    }


    .details span {
        font-size: 1em !important;
    }

    .single-title {
        font-size: 2em;
    }

    .single-content-container img {
        width: 200px;
        height: 200px;
    }

    .check::before {
        display: none;

    }

    .wpcf7 label {

        width: 250px;
    }


}